Package: meta-opentsdb
Version: @version@
Architecture: all
Maintainer: Chris Larsen <clarsen@euphoriaaudio.com>
Depends: libc6, adduser, java7-runtime-headless | java6-runtime-headless | java7-runtime | java6-runtime
Provides: opentsdb
Conflicts: opentsdb
Suggests: gnuplot
Section: database
Priority: optional
Homepage: http://www.opentsdb.net/
Description: Time Series Daemon from OpenTSDB for storing and accessing time series data
